@import "/src/styles/variables";

.level-cell {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  line-height: 1em;
  padding-left: calc(20px * 2);

  &::before {
    content: "";
    position: absolute;
    left: calc(var(--depth) * 20px - 8px);
    top: 60%;
    border-bottom: 1px solid $border-color;
    width: 16px;

  }

  &::after {
    content: "";
    position: absolute;
    left: calc(var(--depth) * 20px - 8px);
    top: -38%;
    bottom: 0;
    border-left: 1px solid $border-color;
    width: 1px;
    height: 100%;
  }

  &:last-child::after {
    display: none;
  }

  .level-icon-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;

    .icon-container {
      padding: 2px;
      display: inline-flex;
      align-items: center;
      justify-content: center;


      &:hover {
        background-color: $border-color;
        border-radius: 4px;
      }
    }
  }

  .trash-icon-wrapper {
    margin-top: 2px;
    margin-left: 8px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }


  .level-icon-wrapper:hover .trash-icon-wrapper {
    opacity: 1;
    pointer-events: auto;
  }
}

.level-cell[data-depth="0"]::before,
.level-cell[data-depth="0"]::after {
  display: none;
}
