$color-background-dark: #27272A;
$color-text-white: white;
$color-text-muted: #A1A1AA;
$color-table-background: #202124;
$color-border: #414144;

$sidebar-width: 234px;
$header-height: 44px;
$default-padding: 10px;
