@import "/src/styles/variables";

.header {
  padding: 10px 20px 9px 20px;
  border-bottom: 1px solid $color-border;
  color: $color-text-muted;

  .nav {
    display: flex;
    align-items: center;

    .nav-list {
      display: flex;
      align-items: center;
      gap: 20px;
      list-style: none;
      margin: 0;
      padding: 0;

      .nav-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
        padding: 0 6px;
        transition: color 0.3s;
        position: relative;

        &:hover,
        &[aria-current="page"] {
          color: $color-text-white;
        }

        &[aria-current="page"]::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -12px;
          width: 100%;
          height: 1px;
          background-color: $color-text-white;
        }
      }

      .icon-link {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: color 0.3s;

        &:hover {
          color: $color-text-white;
        }
      }
    }
  }
}







